@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap");

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "DM Mono", monospace;
  letter-spacing: 2px;
  font-size: 0.75em;
  color: white;
  text-shadow: 1px 1px black, -1px -1px black;
}

#canvas {
  cursor: pointer;
}

/* HUD */
#hud {
  background: transparent;
  position: absolute;
  text-align: right;
  bottom: 2em;
  right: 2.5em;
  opacity: 0.7;
  z-index: 1;
}

#help {
  position: absolute;
  z-index: 2;
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.8);
  padding: 1em;
  font-family: "Oswald", sans-serif;
  width: 75vw;
  height: auto;
  text-align: center;
  pointer-events: none;
  max-width: 600px;
  display: none;
}

h1 {
  margin-bottom: 0;
  color: orangered;
  font-size: 2.25em;
}

h4 {
  margin-top: 0;
  color: lightgray;
}

h3 {
  margin-top: 0;
  color: limegreen;
  font-size: 1.4em;
}

p {
  letter-spacing: 0;
}

.keys {
  color: orange;
}

.text {
  text-align: left;
}

.help {
  color: limegreen;
  font-size: 1.2em;
}

/* PLAYER */

input[type="file"] {
  display: none;
}

#player {
  background: #111;
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  overflow: hidden;
  font-size: 1.15em;
  font-family: "Oswald", sans-serif;
  opacity: 0.7;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-shadow: none;
}

#player:hover {
  opacity: 1;
  background: #171717;
}

#picker {
  padding: 0 1em 0em 1em;
  display: flex;
  justify-content: space-between;
}

#picker label {
  background: rgba(59, 136, 253, 0.8);
  padding: 0.1em 0.5em;
  margin-top: 0.5em;
  font-size: 0.7em;
  letter-spacing: 0.06em;
  color: whitesmoke;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
  transition: all 0.2s;
}

#picker label:hover {
  background: rgba(255, 69, 0, 0.6);
}

#playlist {
  color: #999;
  font-size: 0.9em;
  padding: 0.25em 1em;
  max-height: 22px;
  overflow-y: scroll;
  margin-bottom: 0.1em;
  margin-left: 0.2em;
  user-select: none;
}

#playlist li {
  margin-top: 4px;
  border-bottom: 1px dotted rgba(85, 85, 85, 0.4);
}

.list-item {
  margin-left: 4px;
}

#controls {
  text-align: center;
  padding-top: 0.5em;
  align-self: center;
}

#controls button {
  color: orange;
  font-size: 1.15em;
  background: transparent;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  text-align: center;
  line-height: 0.5;
  cursor: pointer;
  margin-right: 0.2em;
  transition: all 0.2s;
  outline: none;
}

#controls button:hover {
  border-color: orangered;
  color: whitesmoke;
}

progress {
  margin: 0 auto;
  width: 80%;
  cursor: pointer;
  display: block;
  padding-bottom: 0.5em;
}

@media (max-width: 545px) {
  #picker {
    display: flex;
    flex-direction: column;
  }
  #click-label {
    position: absolute;
    right: 1em;
  }
  #playlist {
    display: inline;
    text-align: center;
    margin-bottom: 0;
    font-size: 0.85em;
    max-height: 17px;
  }
  #controls {
    margin-top: 0;
    padding-top: 0.2em;
    margin-bottom: 5px;
  }
  #controls button {
    font-size: 1em;
  }
}
